* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
}
body .view {
  text-align: left;
  display: flex;
  height: 100vh;
}
body .view aside {
  display: flex;
  flex-direction: column;
  min-width: 310px;
}
body .view aside .newSong {
  flex: 1;
}
body .view aside .newSong h1 {
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  border-bottom: 2px solid #d4d4d4;
}
body .view aside .newSong h1.active {
  background-color: #d4d4d4;
}
body .view aside .newSong ul li {
  padding: 0px 10px 5px 10px;
}
body .view aside .newSong ul li:first-child::before {
  border-color: transparent;
}
body .view aside .newSong ul li:last-child {
  border-bottom: 2px solid #d4d4d4;
}
body .view aside .newSong ul li.active {
  background-color: #d4d4d4;
}
body .view aside .newSong ul li.active+li::before {
  border-color: transparent;
}
body .view aside .newSong ul li::before {
  display: block;
  content: '';
  border-bottom: 1px solid #d4d4d4;
  margin-bottom: 5px;
}
body .view aside .upload {
  cursor: pointer;
}
body .view aside .upload #chooseFiles {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: bottom;
  border: 2px dashed rgba(0,0,0,0.4);
  color: rgba(0,0,0,0.8);
  font-size: 12px;
  width: 300px;
  height: 150px;
  border-radius: 20px;
  outline: none;
}
body .view aside .upload .text {
  display: block;
  vertical-align: bottom;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 15px;
}
body .view aside .upload #submit {
  display: inline-block;
  border: 1px solid #999;
  padding: 2px;
  margin-right: 10px;
}
body .view main {
  flex: 1;
  min-width: 545px;
  background-color: #d4d4d4;
  padding: 0 10px;
}
body .view main h1 {
  font-size: 20px;
  margin: 15px 0;
}
body .view main .row {
  min-width: 330px;
  margin: 10px 0px;
}
body .view main .row label {
  display: inline-block;
  width: 6em;
  text-align: right;
}
body .view main .row label.outer-url {
  font-size: 12px;
}
body .view main .row input[type=text] {
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  outline: none;
  font-size: inherit;
  line-height: 1.2;
  padding: 5px;
  margin-left: 5px;
}
body .view main .row textarea {
  font-family: 'microsoft yahei';
  vertical-align: top;
  border-radius: 4px;
  width: 30em;
  height: 10em;
  border: 1px solid #d4d4d4;
  outline: none;
  font-size: inherit;
  line-height: 1.2;
  padding: 5px;
  margin-left: 5px;
  resize: none;
}
body .view main .row input[type=submit] {
  margin-left: calc(4em + 8px);
  display: inline-block;
  height: 29px;
  padding: 0 5px;
}
body .view main .row input[type=checkbox] {
  padding: 5px;
  margin-left: 5px;
  vertical-align: middle;
}
