*
  margin 0
  padding 0

body
  font-size 14px

  .view
    text-align left
    display flex
    height 100vh

    aside
      display flex
      flex-direction column

      .newSong
        flex 1

        h1
          font-size 16px
          text-align center
          padding 5px 10px
          border-bottom 2px solid #d4d4d4
          &.active
            background-color #d4d4d4

        ul li
          padding 0px 10px 5px 10px
          &:first-child::before
            border-color transparent
          &:last-child
             border-bottom 2px solid #d4d4d4

          &.active
            background-color #d4d4d4
            &+li::before
              border-color transparent

          &::before
            display block
            content ''
            border-bottom 1px solid #d4d4d4
            margin-bottom 5px

      .upload
        cursor pointer
        #chooseFiles
          display inline-flex
          text-align center
          flex-direction column
          justify-content center
          align-items center
          vertical-align bottom
          border 2px dashed rgba(0, 0, 0, 0.4)
          color rgba(0, 0, 0, 0.8)
          font-size 12px
          width 300px
          height 150px
          border-radius 20px
          outline none

        .text
          display block
          vertical-align bottom
          font-size 12px
          text-overflow ellipsis
          white-space nowrap
          margin-bottom 15px

        #submit
          display inline-block
          border 1px solid #999
          padding 2px
          margin-right 10px

    main
      flex 1
      background-color #d4d4d4
      padding 0 10px
      h1
        font-size 20px
        margin: 15px 0
      .row
        min-width 330px
        margin  10px 0px
        label
          display inline-block
          $width = 4em
          width $width
          text-align right

        input[type=text]
          border-radius 4px
          border 1px solid #d4d4d4
          outline none
          font-size inherit 
          line-height 1.2
          padding 5px
          // vertical-align top
          margin-left 5px

        input[type=submit]
          margin-left calc(4em+8px)
          display inline-block
          height 29px
          padding 0 5px
