body .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body header {
  position: relative;
  background-size: cover;
  padding: 30px 15px;
  color: #fff;
  z-index: 0;
  overflow: hidden;
}
body header::before {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0px;
  right: 0;
  left: 0;
  background-image: url("//music.163.com/api/img/blur/109951164627748689?param=170y170");
  background-position: center center;
  filter: blur(20px);
  z-index: -1;
}
body header::after {
  position: absolute;
  content: '';
  display: block;
  top: 0;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
}
body header .plhead-wrap {
  display: flex;
}
body header .plhead-wrap .banner {
  position: relative;
}
body header .plhead-wrap .banner img {
  display: block;
  width: 130px;
  height: 130px;
  border: 1px solid #000;
}
body header .plhead-wrap .banner .lshd-icon {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 9px;
  background-color: #b22627;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0px 8px;
  height: 17px;
  line-height: 17px;
}
body header .plhead-wrap .text {
  margin-left: 15px;
}
body header .plhead-wrap .text h1 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 20px;
}
body header .plhead-wrap .text .uploader-wrap {
  display: flex;
  align-items: center;
}
body header .plhead-wrap .text .uploader-wrap .u-avatar img {
  vertical-align: top;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
body header .plhead-wrap .text .uploader-wrap .uploader {
  color: #c4ab99;
  margin-left: 5px;
  font-size: 14px;
}
body .description {
  color: #666;
  padding: 10px 10px 0 15px;
}
body .description .tag-wrap {
  font-size: 14px;
}
body .description .tag-wrap .tag {
  border: 1px solid #f0f0f0;
  font-size: 12px;
  border-radius: 30px;
  padding: 2px 10px;
}
body .description .desc-wrap {
  margin-top: 15px;
  font-size: 14px;
}
body main {
  margin-top: 30px;
  color: #666;
}
body main h2 {
  background-color: #eeeff0;
  font-size: 12px;
  padding: 2px 10px;
  font-weight: normal;
}
body main .songlist-wrap ul.songlist li {
  display: flex;
}
body main .songlist-wrap ul.songlist .left {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
body main .songlist-wrap ul.songlist .left .index {
  color: #666;
}
body main .songlist-wrap ul.songlist .mid {
  flex: 1;
  padding: 6px 0;
  line-height: 1.5;
}
body main .songlist-wrap ul.songlist .mid h3 {
  font-size: 17px;
  color: #333;
  font-weight: 500;
}
body main .songlist-wrap ul.songlist .mid .text {
  color: #888;
}
body main .songlist-wrap ul.songlist .right {
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .songlist-wrap ul.songlist .right .play {
  display: block;
  padding: 0 10px;
}
body main .songlist-wrap ul.songlist .right .play svg {
  width: 22px;
  height: 22px;
  fill: #aaa;
}
