body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background-image: url("http://p3.music.126.net/Z8L2Mde2m6TBFeaAEA_PlQ==/109951164966200321.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body .mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
body .logo svg {
  margin: 12px 0 0 10px;
  width: 92px;
  height: 17px;
}
body .song-disc {
  position: relative;
  width: 296px;
  height: 296px;
  margin: 35px auto 0px;
}
body .song-disc::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("http://s3.music.126.net/mobile-new/img/disc.png?d3bdd1080a72129346aa0b4b4964b75f=") no-repeat;
  background-size: cover;
}
body .song-disc .light {
  background-image: url("https://s3.music.126.net/mobile-new/img/disc_light-ip6.png?996fc8a2bc62e1ab3f51f135fc459577=");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}
body .song-disc .song-image {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  over-flow: hidden;
  background: url("http://s3.music.126.net/mobile-new/img/disc_default.png?7c9b3ad%E2%80%A6=") no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
