body {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  background-image: url("https://p4.music.126.net/66ewnuFNHla7YJWt7zT8nw==/109951164922923585.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body .playSong {
  height: 100vh;
}
body .playSong .mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
body .playSong .logo svg {
  margin: 12px 0 0 10px;
  width: 92px;
  height: 17px;
}
body .playSong .rotate {
  animation: rollDesc 15s infinite linear;
}
body .playSong .song-disc {
  position: relative;
}
body .playSong .song-disc .needle {
  position: fixed;
  z-index: 9;
  height: 137px;
  width: 96px;
  top: 0;
  left: 50%;
  margin-left: -23px;
  background-image: url("//s3.music.126.net/mobile-new/img/needle-ip6.png?be4ebbeb6befadfcae75ce174e7db862=");
  background-size: contain;
  transition: all 0.5s linear;
  transform-origin: left top;
}
body .playSong .song-disc .needle.pause {
  transform: rotate(-18deg);
}
body .playSong .song-disc .roll-wrap {
  position: relative;
  width: 296px;
  height: 296px;
  margin: 35px auto 0px;
}
body .playSong .song-disc .roll-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("http://s3.music.126.net/mobile-new/img/disc.png?d3bdd1080a72129346aa0b4b4964b75f=") no-repeat;
  background-size: cover;
}
body .playSong .song-disc .roll-wrap .light {
  background-image: url("https://s3.music.126.net/mobile-new/img/disc_light-ip6.png?996fc8a2bc62e1ab3f51f135fc459577=");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}
body .playSong .song-disc .roll-wrap .song-image {
  width: 184px;
  height: 184px;
  border-radius: 50%;
  overflow: hidden;
  background: url("http://s3.music.126.net/mobile-new/img/disc_default.png?7c9b3ad%E2%80%A6=") no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
body .playSong .song-disc .roll-wrap .song-image img {
  width: 100%;
  border-radius: 50%;
}
body .playSong .song-disc .play-btn {
  outline: none;
  border: 1px solid #fff;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: rgba(113,126,137,0.9);
  border-radius: 50%;
  vertical-align: top;
  padding: 8.75px;
}
body .playSong .song-disc .play-btn.hidden {
  display: none;
}
body .playSong .song-disc .play-btn svg {
  width: 35px;
  height: 35px;
  vertical-align: top;
}
body .playSong .lyric-wrapper {
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: center;
}
body .playSong .lyric-wrapper h1 {
  font-size: 20px;
  color: #dfe0e0;
}
body .playSong .lyric-wrapper .lyric-move-wrap {
  font-size: 16px;
  width: 100%;
  height: 7.2em;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(#000, #000 90%, rgba(0,0,0,0) 100%);
}
body .playSong .lyric-wrapper .lyric-move-wrap .lyric-move {
  transition: all 0.3s linear;
}
body .playSong .lyric-wrapper .lyric-move-wrap .lyric-move .active {
  color: #dfe0e0;
}
body .playSong .lyric-wrapper .lyric-move-wrap .lyric-move p {
  color: #858588;
  line-height: 2;
  height: 2em;
}
body .playSong .lyric-wrapper .lyric-move-wrap .lyric-move p:empty {
  height: 0.5em;
}
@-moz-keyframes rollDesc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rollDesc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rollDesc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rollDesc {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
