*
  margin 0
  padding 0 

.view
  text-align center
  .upload
    margin-bottom 20px
    #chooseFiles
      display inline-block
      vertical-align bottom
      border 2px dashed #a29595
      width 300px
      height 150px
      border-radius 20px
      outline none

    .text
      display inline-block
      vertical-align bottom
      font-size 12px
      width 10em
      overflow hidden
      text-overflow ellipsis
      white-space nowrap

    #submit
      display inline-block
      border 1px solid #999
      padding 2px
